# E-commerce Funnel Analysis 

Objective: Clean data, explore and arrive at e-commerce insights.

Events are: 
View -> Cart
View -> Purcase
Cart -> Purchase

Conversion = Purchase

Questions I will answer with this analysis:

1. What is the event distribution over time (6 months)?
1. Where is the biggest drop-off in the funnel? At which stage (over a time period of 6 months).
3. What is the total conversion rate (over the period of 6 months).
4. What is the median time to purchase?
5. What is the median price of a purchase?
6. Distribution of purchases by hour.
7. What are the highest-selling categories?


But first lets explore the datasets

In [24]:
import pandas as pd 
import numpy as np
import seaborn as sns

Nov= pd. read_csv("2019-Nov.csv")
Oct= pd. read_csv("2019-Oct.csv")

In [10]:
Nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67501979 entries, 0 to 67501978
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 4.5+ GB

In [17]:
Nov.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [39]:
Oct.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [40]:
Oct.head(10)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5,2019-10-01 00:00:05 UTC,view,1480613,2053013561092866779,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
6,2019-10-01 00:00:08 UTC,view,17300353,2053013553853497655,NaN,creed,380.96,555447699,4fe811e9-91de-46da-90c3-bbd87ed3a65d
7,2019-10-01 00:00:08 UTC,view,31500053,2053013558031024687,NaN,luminarc,41.16,550978835,6280d577-25c8-4147-99a7-abc6048498d6
8,2019-10-01 00:00:10 UTC,view,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71,520571932,ac1cd4e5-a3ce-4224-a2d7-ff660a105880
9,2019-10-01 00:00:11 UTC,view,1004545,2053013555631882655,electronics.smartphone,huawei,566.01,537918940,406c46ed-90a4-4787-a43b-59a410c1a5fb

In [21]:
Nov.head(10)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
5,2019-11-01 00:00:01 UTC,view,1306894,2053013558920217191,computers.notebook,hp,360.09,520772685,816a59f3-f5ae-4ccd-9b23-82aa8c23d33c
6,2019-11-01 00:00:01 UTC,view,1306421,2053013558920217191,computers.notebook,hp,514.56,514028527,df8184cc-3694-4549-8c8c-6b5171877376
7,2019-11-01 00:00:02 UTC,view,15900065,2053013558190408249,NaN,rondell,30.86,518574284,5e6ef132-4d7c-4730-8c7f-85aa4082588f
8,2019-11-01 00:00:02 UTC,view,12708937,2053013553559896355,NaN,michelin,72.72,532364121,0a899268-31eb-46de-898d-09b2da950b24
9,2019-11-01 00:00:02 UTC,view,1004258,2053013555631882655,electronics.smartphone,apple,732.07,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0

In [22]:
Nov.tail(10)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
67501969,2019-11-30 23:59:55 UTC,view,1500447,2053013552955916539,computers.peripherals.printer,hp,136.14,525386563,a7836fb7-1dfd-4e50-a678-3725887f4408
67501970,2019-11-30 23:59:55 UTC,view,16800304,2053013558316237377,furniture.kitchen.table,aero,1106.85,579175262,b8ff34a9-41be-4497-b373-408c6e02b952
67501971,2019-11-30 23:59:57 UTC,view,8800713,2053013555573162395,electronics.telephone,prestigio,8.37,579968742,e4bfecbc-8a99-437d-b6b8-b5dfbd87bf78
67501972,2019-11-30 23:59:57 UTC,view,12301059,2053013556311359947,construction.tools.drill,bosch,266.16,562661595,7165dc28-9cba-40a0-9ed8-76fd909ccb3b
67501973,2019-11-30 23:59:57 UTC,view,10502879,2053013553199186187,NaN,NaN,29.60,514007176,941ff09f-c5da-49dd-8501-70c950202a4a
67501974,2019-11-30 23:59:58 UTC,view,15700137,2053013559733912211,NaN,NaN,277.74,532714000,02b4131c-0112-4231-aafa-ceaa08e77c1b
67501975,2019-11-30 23:59:58 UTC,view,28719425,2053013565639492569,apparel.shoes,baden,62.81,545223467,734c5eef-0742-4f8b-9d22-48f75b0bc359
67501976,2019-11-30 23:59:59 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,167.03,557794415,6fecf566-ebb0-4e70-a243-cdc13ce044cb
67501977,2019-11-30 23:59:59 UTC,view,2701706,2053013563911439225,appliances.kitchen.refrigerators,samsung,566.27,531607492,368ddc8b-5db9-40fb-b7ff-b6582a1192c0
67501978,2019-11-30 23:59:59 UTC,view,1004233,2053013555631882655,electronics.smartphone,apple,1312.52,579969851,90aca71c-ed8a-4670-866a-761ebacb732d

In [ ]:
print(Nov.shape)
print(Oct.shape)

# By now I have realized that Oct and Nov CSV files are quuite large, so I will be working with this dataset in chunks.

(67501979, 9)
(42448764, 9)

In [30]:
Nov["event_type"].value_counts()
Oct["event_type"].value_counts()

event_type
view        40779399
cart          926516
purchase      742849
Name: count, dtype: int64

In [44]:
Nov["user_id"].nunique()

3696117

In [32]:
Oct["user_id"].nunique()

3022290

In [34]:
Nov["category_id"].nunique()

684

In [35]:
Oct["category_id"].nunique()

624

In [38]:
Nov["category_code"].nunique()
Nov["category_code"].value_counts()

category_code
electronics.smartphone          16375000
electronics.video.tv             2208046
computers.notebook               2180554
electronics.clocks               2086966
apparel.shoes                    1886890
                                  ...
apparel.shorts                       652
construction.tools.screw             184
appliances.kitchen.fryer             108
country_yard.furniture.bench           2
apparel.jacket                         1
Name: count, Length: 129, dtype: int64

In [37]:
Oct["category_code"].nunique()

126

In [47]:
del Oct, Nov